.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
  font-weight: bold;
}

.ant-tabs-ink-bar {
  background: #ff9a88;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:hover,
.ant-tabs-tab-remove:hover,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #ff9a88;
}

.ant-tabs > .ant-tabs-nav {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1;
  height: 55px;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 25px;
}

.ant-carousel {
  padding-top: 55px;
}

.ant-carousel .slick-dots {
  margin-left: 0%;
}
