.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
  font-weight: bold;
}

.ant-tabs-ink-bar {
  background: #ff9a88;
}

.ant-tabs-tab:hover,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:hover,
.ant-tabs-tab-remove:hover,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #ff5e3d;
}

.ant-tabs > .ant-tabs-nav {
  background: white;
  width: 100%;
  height: 55px;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 25px;
}

.ant-carousel .slick-dots {
  z-index: 0;
}

.ant-carousel .slick-dots li {
  box-shadow: 0 0 0 1px rgb(255 154 136 / 25%);
}

.ant-carousel .slick-dots li.slick-active button {
  background: #ff9a88;
}

.ant-btn:hover,
.ant-btn:focus {
  color: #ff5e3d;
  border-color: #ff5e3d;
}
